section#grid_archivo {
  .container {
    max-width: 1318px + (@p_container * 2);
    margin: auto;
    padding-left: @p_container;
    padding-right: @p_container;

    .caja-flex-btns-archivo {
      display: flex;
      margin-bottom: 90px;
      .cuadro-botones {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 1100px) {
          display: none;
        }
        .selecion-botones-categoria {
          display: flex;
          flex-wrap: wrap;
          min-width: 500px;
          width: 100%;
          gap: 17px;
          margin-bottom: 17px;

          & > button {
            cursor: pointer;
            max-width: 170px;
            text-align: center;
            height: 42.55px;
            color: #7b6c6c;
            border-radius: 10px;
            background-color: black;
            padding: 9px 13px;
            transition: 0.5s all;
            border: 0;
            color: white;
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 23px;
            font-family: "Space Grotesk";
            font-weight: normal;

            span {
              margin-right: 10px;
            }

            // &.active {
            //   background-color: @verder;
            //   color: #000000;
            // }

            &:hover {
              background-color: @verder;
              color: #000000;
            }
          }
        }

        .selecion-ubicacion {
          display: flex;
          flex-wrap: wrap;
          width: 50%;
          gap: 17px;
          margin-bottom: 17px;

          & > button {
            cursor: pointer;
            max-width: 170px;
            text-align: center;
            height: 42.55px;
            color: #7b6c6c;
            border-radius: 10px;
            background-color: @verder;
            padding: 9px 13px;
            transition: 0.5s all;
            border: 0;
            color: black;
            justify-content: center;
            display: flex;
            align-items: center;
            font-size: 23px;
            font-family: "Space Grotesk";
            font-weight: normal;

            span {
              margin-right: 10px;
            }

            // &.active {
            //   background-color: @verder;
            //   color: #000000;
            // }

            &:hover {
              background-color: black;
              color: white;
            }
          }
        }
      }

      .seleccion {
        width: 100%;
        // border: 2px solid red;
        height: 76px;
        display: flex;
        gap: 21px;
        align-items: start;

        @media screen and (max-width: 620px) {
          height: fit-content;
          flex-direction: column;
        }

        .dropdown {
          @py: 21px;
          @px: 16px;
          width: 100%;
          max-width: 370px;

          @media screen and (max-width: 620px) {
            max-width: 100%;
          }
          z-index: 1000;
          background: #ffffff 0% 0% no-repeat padding-box;
          box-shadow: 0px 2px 6px #11111112;
          border: 1px solid #000000;
          border-radius: 12px;
          opacity: 1;
          overflow: hidden;
          .button {
            border: none;
            width: 100%;
            text-align: left;
            font: normal normal bold 22px/28px Space Grotesk;
            letter-spacing: 0px;
            color: #000000;
            padding: @py @px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            outline: none;

            &:hover {
              background: #000;
              background: #ffffff 0% 0% no-repeat padding-box;
            }

            .icon {
              transition: transform 0.5s;
            }
          }

          .drop-content {
            // display: none;
            padding: 0 @px;
            .drop-list {
              transition: height 0.5s;
              overflow-y: auto;
              height: 0;
              // border: 2px solid red;
              display: flex;
              flex-direction: column;
              // gap: 21px;
              .drop-item {
                padding: 10.5px 0;
                display: flex;
                gap: 10.84px;
                align-items: center;
                width: 100%;
                .check {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 16px;
                  height: 16px;
                  border: 3px solid black;
                  input[type="radio"] {
                    display: none;
                  }

                  svg {
                    display: none;
                  }

                  &:has(> input[type="radio"]:checked) {
                    svg {
                      display: block;
                    }
                  }
                }

                .text {
                  text-align: left;
                  font: normal normal normal 20px/26px Space Grotesk;
                  letter-spacing: 0px;
                  color: #111111;
                  cursor: pointer;
                }
              }
            }
          }

          &.active {
            .button {
              .icon {
                transform: rotate(180deg);
              }
            }

            .drop-content {
              .drop-list {
                height: 200px;
                // padding-bottom: @py;
              }
            }
          }
        }
      }
    }

    .grid {
      padding-top: 100px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 412px 412px;
      grid-gap: 37px 18px;
      @media screen and (max-width: 1250px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: 1100px) {
        // grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
      }

      @media screen and (max-width: 700px) {
        grid-template-columns: repeat(1, 340px);
        justify-content: center;
      }
      //   background-color: #f7f5f5;

      .grid-item-big {
        padding: 20px;
        border-radius: 15px;
        background-color: #f7f5f5;
        grid-column: auto / span 2;
        width: 100%;
        height: 100%;
        display: flex;
        min-height: 400px;
        gap: 30px;
        @media screen and (max-width: 1250px) {
          display: none;
        }
        .content-img {
          background-color: @gris-img;
          min-width: 374px;
          max-width: 374px;
          height: 100%;
          border-radius: 20px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .contenido {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .superior {
            .informacion {
              margin-top: 0;
              margin-bottom: 30px;
              text-align: left;
              font-family: "Space Grotesk";
              font-weight: normal;
              font-size: 30px;
              line-height: 35px;
              letter-spacing: 0px;
              color: #000000;
            }

            & > button {
              cursor: pointer;
              max-width: 170px;
              text-align: center;
              height: 42.55px;
              color: #7b6c6c;
              border-radius: 10px;
              background-color: @verder;
              padding: 9px 13px;
              transition: 0.5s all;
              border: 0;
              color: black;
              justify-content: center;
              display: flex;
              align-items: center;
              font-size: 23px;
              font-family: "Space Grotesk";
              font-weight: normal;
              margin: 15px 0px;
            }

            & > button:last-child {
              background-color: black;
              color: white;
            }
          }

          .inferior {
            .fecha {
              text-align: left;
              font-size: 20px;
              font-family: "Space Grotesk";
              font-weight: normal;
              color: #000000;
              margin: 0;
            }
          }
        }
      }

      .grid-item {
        background-color: #f7f5f5;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        min-height: 400px;
        & > .content-img {
          border-radius: 20px;
          width: 100%;
          background-color: @gris-img;
          max-height: 256px;
          min-height: 255px;
          position: relative;
          @media screen and (max-width: 1100px) {
            max-height: 400px;

            // grid-template-columns: repeat(2, 1fr);
          }

          // @media screen and (max-width: 500px) {
          //   max-height: 280px;
          //   min-height: 283px;
          // }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .contenedor-btns {
            left: 12px;
            right: 12px;
            bottom: 10px;
            position: absolute;
            display: flex;
            gap: 29px;
            justify-content: space-between;
            & > button {
              cursor: pointer;
              margin: 0;
              max-width: 170px;
              text-align: center;
              height: 40.55px;
              color: #7b6c6c;
              border-radius: 10px;
              background-color: @verder;
              padding: 9px 13px;
              transition: 0.5s all;
              border: 0;
              color: black;
              justify-content: center;
              display: flex;
              align-items: center;
              font-size: 23px;
              font-family: "Space Grotesk";
              font-weight: normal;
            }

            & > button:last-child {
              background-color: black;
              color: white;
            }
          }
        }

        & > .contenido {
          .informacion > p {
            text-align: left;
            font-size: 25px;
            font-family: "Space Grotesk";
            font-weight: normal;
            letter-spacing: 0px;
            color: #000000;
            line-height: 30px;
            margin-top: 10px;
            margin-bottom: 20px;
          }

          .fecha {
            margin: 0;
            text-align: left;
            font-size: 20px;
            font-family: "Space Grotesk";
            font-weight: normal;
            color: #000000;
          }
        }
      }
    }

    & > .enlace-ver_todos {
      margin-top: 40px;
      display: block;
      font-size: 29px;
      text-align: center;
      color: #020202;
      font-weight: normal;
      font-family: "Space Grotesk";
      line-height: 34px;
      text-decoration: underline;
      display: none;
      @media screen and (max-width: 1000px) {
        display: block;
        margin-bottom: 150px;
      }
    }
  }
}
