section#slider-agency {
  padding: 99px 0;
  background: @verder;
  .container {
    max-width: 1350px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    // position: relative;
    .swiper {
      @media screen and (min-width: 700px) {
        padding-left: 80px;
        padding-right: 80px;
      }

      .swiper-wrapper {
        .swiper-slide {
          max-height: 335px;
          border-radius: 20px;
          @media screen and (min-width: 700px) {
            width: 530px;
          }
        }
      }

      .swiper-button-next {
        img {
          transform: rotate(180deg);
        }
      }

      .swiper-button-prev::after {
        content: "prev";
        background-color: transparent;
        position: absolute;
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: right;
      }

      .swiper-button-next::after {
        content: "prev";
        background-color: transparent;
        position: absolute;
        transform: rotate(180deg);
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: right;
      }
    }
  }
}
