section#home-cabecera {
  background-image: linear-gradient(@verder 83%, white 33%);
  width: 100%;
  min-height: 900px;
  @media screen and (max-width: 672px) {
    min-height: 500px;
  }
  //   height: 100vh;

  .container-banner {
    max-width: 1223px + (@p_container * 2);
    padding-left: @p_container;
    padding-right: @p_container;
    margin: auto;

    .columnas-banner {
      padding-top: 156px;
      display: flex;
      justify-content: center;
      gap: 54.1px;
      align-items: end;
      min-height: 466px;
      @media screen and (max-width: 1021px) {
        flex-wrap: wrap;
        justify-content: start;
        gap: 0px;
        align-items: center;
      }
      @media screen and (max-width: 672px) {
        padding-top: 100px;
        min-height: 400px;
      }

      @media screen and (max-width: 472px) {
        // padding-top: 100px;
        min-height: 350px;
      }
      .content-titulos {
        max-width: 643px;
        width: 50%;
        margin-bottom: 90px;
        @media screen and (max-width: 1186px) {
          width: 100%;
          max-width: 600px;
        }

        @media screen and (max-width: 1021px) {
          //   max-width: 486px;
          margin-bottom: 0;
        }

        & h1 {
          font-family: "Space Grotesk";
          font-size: 95px;
          font-weight: 500;
          line-height: 113%;
          margin-bottom: 0;
          margin-top: 0;
          @media screen and (max-width: 1207px) {
            font-size: 80px;
          }
          @media screen and (max-width: 672px) {
            font-size: 50px;
          }

          & .zonas-banner {
            margin-top: 15px;
            a {
              font-weight: bold;
              color: #000000;
            }
          }
        }
      }

      .textos {
        padding-right: 25px;
        width: 30%;
        max-width: 523px;
        @media screen and (max-width: 1186px) {
          width: 100%;
          max-width: 365px;
        }

        @media screen and (max-width: 1021px) {
          margin-left: auto;
        }
        & > p {
          margin: 0;
          font-family: "Space Grotesk";
          color: #000000;
        }
      }
    }
  }
}
