section#home-cabecera {
  background-color: #bcff3b;
  width: 100%;
  height: 100vh;
}
section#home-cabecera .container-banner {
  max-width: 1263px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
section#home-cabecera .container-banner .columnas-banner {
  padding-top: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 54.1px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  min-height: 466px;
}
@media screen and (max-width: 1186px) {
  section#home-cabecera .container-banner .columnas-banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
section#home-cabecera .container-banner .columnas-banner .content-titulos {
  max-width: 643px;
  width: 30%;
  padding-bottom: 60px;
}
@media screen and (max-width: 1186px) {
  section#home-cabecera .container-banner .columnas-banner .content-titulos {
    width: 100%;
    padding-left: 50px;
  }
}
section#home-cabecera .container-banner .columnas-banner .content-titulos h1 {
  font-family: "Space Grotesk";
  font-size: 95px;
  font-weight: 500;
  line-height: 113%;
}
section#home-cabecera .container-banner .columnas-banner .content-titulos h1 .zonas-banner {
  margin-top: 15px;
}
section#home-cabecera .container-banner .columnas-banner .content-titulos h1 .zonas-banner a {
  font-weight: bold;
  color: #000000;
}
section#home-cabecera .container-banner .columnas-banner .textos {
  padding-right: 25px;
  width: 30%;
  max-width: 523px;
}
@media screen and (max-width: 1186px) {
  section#home-cabecera .container-banner .columnas-banner .textos {
    width: 100%;
  }
}
section#home-cabecera .container-banner .columnas-banner .textos > p {
  font-family: "Space Grotesk";
  color: #000000;
}
section#AND_shop .container {
  max-width: 1360.08px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
section#AND_shop .container .content-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 19.92px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 19.92px;
}
section#AND_shop .container .content-col .col.first .titulo {
  margin: 0;
  margin-bottom: 29px;
  text-align: left;
  font: normal normal medium 95px/133px Space Grotesk;
  letter-spacing: 0px;
  color: #000000;
}
section#AND_shop .container .content-col .col.second img {
  width: 100%;
}
section#AND_shop .container .content-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15.83px;
}
section#AND_shop .container .content-btns .btn {
  cursor: pointer;
  border-radius: 10px;
  opacity: 1;
  font: normal normal normal;
}
section#AND_shop .container .content-btns .btn.black {
  background: #000000 0% 0% no-repeat padding-box;
  color: white;
}
section#AND_shop .container .content-btns .btn.green {
  color: #000000;
  background-color: #bcff3b !important;
}
section#AND_shop .container .content-products {
  padding-top: 110px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 19.92px 1fr 19.92px 1fr 19.92px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 19.92px;
  width: 100%;
}
section#AND_shop .container .content-products .card {
  min-height: 391px;
}
section#AND_shop .container .content-products .card .header {
  width: 100%;
  height: 302px;
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
}
section#AND_shop .container .content-products .card .header .img-product {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
section#AND_shop .container .content-products .card .header .img-flotante {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
section#AND_shop .container .content-products .card .body {
  padding-top: 16px;
  padding-bottom: 16px;
}
section#AND_shop .container .content-products .card .body .price {
  margin: 0;
  text-align: right;
  font: normal normal bold 25px/35px Space Grotesk;
  letter-spacing: 0px;
  color: #000000;
}
section#AND_shop .container .content-products .card .body .name {
  margin: 0;
  text-align: left;
  letter-spacing: 0px;
  font-weight: medium;
  font-family: "Space Grotesk";
  font-size: 22px;
  color: #000000;
}
section#AND_shop .container .content-products .card.big {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}
section#AND_shop .container .content-products .card.big .header {
  height: 715.92px !important;
}
section#AND_shop .container .content-products .card.big .header .img-flotante {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
