@p_container: 20px;
@verder: #bcff3b;
@img_load: #d8d8d8;
// *HOME
@import "./home/home-cabecera.less";
@import "./home/home-eventos.less";
@import "./home/home-explora.less";
@import "./home/home-proyect.less";
@import "./home/home-slider-instam.less";

// *Footer
@import "footer/footer.less";

// ? Samuel Styles
@import "./shop/shop.less";
