section#home-cabecera {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(83%, #bcff3b), color-stop(33%, white));
  background-image: linear-gradient(#bcff3b 83%, white 33%);
  width: 100%;
  min-height: 900px;
}
@media screen and (max-width: 672px) {
  section#home-cabecera {
    min-height: 600px;
  }
}
section#home-cabecera .container-banner {
  max-width: 1263px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}
section#home-cabecera .container-banner .columnas-banner {
  padding-top: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 54.1px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  min-height: 466px;
}
@media screen and (max-width: 1046px) {
  section#home-cabecera .container-banner .columnas-banner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    gap: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 672px) {
  section#home-cabecera .container-banner .columnas-banner {
    padding-top: 100px;
    min-height: 400px;
  }
}
@media screen and (max-width: 472px) {
  section#home-cabecera .container-banner .columnas-banner {
    min-height: 350px;
  }
}
section#home-cabecera .container-banner .columnas-banner .content-titulos {
  max-width: 643px;
  width: 50%;
  margin-bottom: 120px;
}
@media screen and (max-width: 1186px) {
  section#home-cabecera .container-banner .columnas-banner .content-titulos {
    width: 100%;
    max-width: 600px;
  }
}
@media screen and (max-width: 1046px) {
  section#home-cabecera .container-banner .columnas-banner .content-titulos {
    margin-bottom: 40px;
  }
}
section#home-cabecera .container-banner .columnas-banner .content-titulos h1 {
  font-family: "Space Grotesk";
  font-size: 95px;
  font-weight: 500;
  line-height: 113%;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (max-width: 1207px) {
  section#home-cabecera .container-banner .columnas-banner .content-titulos h1 {
    font-size: 80px;
  }
}
@media screen and (max-width: 672px) {
  section#home-cabecera .container-banner .columnas-banner .content-titulos h1 {
    font-size: 50px;
  }
}
section#home-cabecera .container-banner .columnas-banner .content-titulos h1 .zonas-banner {
  margin-top: 15px;
}
section#home-cabecera .container-banner .columnas-banner .content-titulos h1 .zonas-banner a {
  font-weight: bold;
  color: #000000;
}
section#home-cabecera .container-banner .columnas-banner .textos {
  width: 41%;
  max-width: 523px;
}
@media screen and (max-width: 1186px) {
  section#home-cabecera .container-banner .columnas-banner .textos {
    width: 100%;
    max-width: 450px;
  }
}
@media screen and (max-width: 1046px) {
  section#home-cabecera .container-banner .columnas-banner .textos {
    margin-left: auto;
  }
}
section#home-cabecera .container-banner .columnas-banner .textos > p {
  line-height: 40px;
  font-size: 30px;
  margin: 0;
  font-family: "Space Grotesk";
  color: #000000;
}
@media screen and (max-width: 500px) {
  section#home-cabecera .container-banner .columnas-banner .textos > p {
    font-size: 20px;
    line-height: 28px;
  }
}
section#home-eventos {
  background-color: #bcff3b;
  padding-bottom: 82.06px;
  padding-top: 121px;
}
@media screen and (max-width: 800px) {
  section#home-eventos {
    padding-top: 15.5px;
    padding-bottom: 42.03px;
  }
}
section#home-eventos .container-event {
  max-width: 1358px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
section#home-eventos .container-event .header-evento {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 431px) {
  section#home-eventos .container-event .header-evento {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section#home-eventos .container-event .header-evento .title-evento {
  line-height: 123.6px;
  font-family: "Space Grotesk";
  font-size: 103px;
  font-weight: 500;
  text-align: start;
  margin: 0;
}
@media screen and (max-width: 800px) {
  section#home-eventos .container-event .header-evento .title-evento {
    font-size: 90px;
  }
}
@media screen and (max-width: 752px) {
  section#home-eventos .container-event .header-evento .title-evento {
    font-size: 70px;
  }
}
@media screen and (max-width: 610px) {
  section#home-eventos .container-event .header-evento .title-evento {
    font-size: 40px;
  }
}
section#home-eventos .container-event .header-evento .title-evento a {
  text-decoration: none;
  color: black;
}
section#home-eventos .container-event .header-evento .btn-evento {
  min-width: 162px;
  height: 42.55px;
  border-radius: 15px;
  background-color: white;
  padding: 9px 13px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10.5px;
}
@media screen and (max-width: 610px) {
  section#home-eventos .container-event .header-evento .btn-evento {
    height: 50px;
  }
}
section#home-eventos .container-event .header-evento .btn-evento a {
  font-family: "Space Grotesk";
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  width: 100%;
  text-decoration: none;
  display: block;
  color: black;
}
section#home-eventos .container-event .header-evento .btn-evento:hover {
  border: 0;
  background-color: black;
}
section#home-eventos .container-event .header-evento .btn-evento:hover a {
  color: white;
}
section#home-eventos .container-event .header-evento .btn-evento:hover svg {
  fill: white;
}
section#home-eventos .container-event .header-evento .btn-evento:hover svg line {
  stroke: black;
}
section#home-eventos .container-event .info-noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  max-height: 590px;
}
@media screen and (max-width: 663px) {
  section#home-eventos .container-event .info-noticias {
    max-height: none;
  }
}
section#home-eventos .container-event .info-noticias .column-one {
  height: 100%;
  width: 40%;
}
@media screen and (max-width: 1000px) {
  section#home-eventos .container-event .info-noticias .column-one {
    display: none;
  }
}
section#home-eventos .container-event .info-noticias .column-one .content-img {
  max-width: 538px;
  height: 330px;
  max-height: 330px;
  border-radius: 85px;
  background-color: #b3b2b288;
}
section#home-eventos .container-event .info-noticias .column-one .content-img img {
  width: 100%;
}
section#home-eventos .container-event .info-noticias .column-two {
  width: 60%;
  height: 100%;
}
@media screen and (max-width: 1000px) {
  section#home-eventos .container-event .info-noticias .column-two {
    width: 100%;
  }
}
section#home-eventos .container-event .info-noticias .column-two .lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section#home-eventos .container-event .info-noticias .column-two .lista .item {
  display: block;
  text-decoration: none;
  padding: 9px 20px 9px 30px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
@media screen and (max-width: 672px) {
  section#home-eventos .container-event .info-noticias .column-two .lista .item .textos {
    width: 50%;
  }
}
section#home-eventos .container-event .info-noticias .column-two .lista .item .textos p {
  font-family: "Space Grotesk";
  font-size: 35px;
  font-weight: bold;
  text-align: left;
  line-height: 48px;
  letter-spacing: 0px;
  color: #000000;
  margin: 0;
}
@media screen and (max-width: 530px) {
  section#home-eventos .container-event .info-noticias .column-two .lista .item .textos p {
    font-size: 30px;
    line-height: 41px;
  }
}
section#home-eventos .container-event .info-noticias .column-two .lista .item .textos > span {
  margin: 0;
  font-family: "Space Grotesk";
  font-size: 35px;
  font-weight: normal;
  text-align: left;
  line-height: 48px;
  letter-spacing: 0px;
  color: #000000;
}
@media screen and (max-width: 752px) {
  section#home-eventos .container-event .info-noticias .column-two .lista .item .textos > span {
    font-size: 30px;
    line-height: 38px;
  }
}
@media screen and (max-width: 530px) {
  section#home-eventos .container-event .info-noticias .column-two .lista .item .textos > span {
    font-size: 22px;
    line-height: 30px;
  }
}
@media screen and (max-width: 672px) {
  section#home-eventos .container-event .info-noticias .column-two .lista .item .date {
    width: 50%;
    text-align: end;
  }
}
section#home-eventos .container-event .info-noticias .column-two .lista .item .date > span {
  font-family: "Space Grotesk";
  font-size: 25px;
  font-weight: normal;
  text-align: right;
  line-height: 48px;
  letter-spacing: 0px;
  color: #000000;
}
@media screen and (max-width: 530px) {
  section#home-eventos .container-event .info-noticias .column-two .lista .item .date > span {
    font-size: 20px;
    line-height: 28px;
  }
}
section#home-eventos .container-event .info-noticias .column-two .lista .item.active {
  background-color: #ffffff;
}
section#home-eventos .container-event .info-noticias .column-two .enlace-ver_todos {
  padding-top: 20px;
  display: block;
  font-size: 29px;
  text-align: end;
  color: #020202;
  font-weight: normal;
  font-family: "Space Grotesk";
  line-height: 34px;
}
@media screen and (max-width: 1000px) {
  section#home-eventos .container-event .info-noticias .column-two .enlace-ver_todos {
    text-align: center;
  }
}
section#home-explora {
  background-color: #ebe0c7;
  padding-bottom: 82.06px;
  padding-top: 121px;
}
@media screen and (max-width: 800px) {
  section#home-explora {
    padding-top: 15.5px;
    padding-bottom: 42.03px;
  }
}
section#home-explora .container-explora {
  max-width: 1358px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
section#home-explora .container-explora .header-explora {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 610px) {
  section#home-explora .container-explora .header-explora {
    margin-bottom: 0;
  }
}
section#home-explora .container-explora .header-explora .title-explora {
  line-height: 123.6px;
  font-family: "Space Grotesk";
  font-size: 103px;
  font-weight: 500;
  text-align: start;
  margin: 0;
}
@media screen and (max-width: 800px) {
  section#home-explora .container-explora .header-explora .title-explora {
    font-size: 90px;
  }
}
@media screen and (max-width: 752px) {
  section#home-explora .container-explora .header-explora .title-explora {
    font-size: 70px;
  }
}
@media screen and (max-width: 610px) {
  section#home-explora .container-explora .header-explora .title-explora {
    font-size: 40px;
  }
}
section#home-explora .container-explora .header-explora .title-explora a {
  color: black;
  text-decoration: none;
}
section#home-explora .container-explora .header-explora .btn-explora {
  min-width: 162px;
  height: 42.55px;
  border-radius: 15px;
  background-color: white;
  padding: 9px 13px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10.5px;
}
@media screen and (max-width: 610px) {
  section#home-explora .container-explora .header-explora .btn-explora {
    height: 50px;
  }
}
section#home-explora .container-explora .header-explora .btn-explora a {
  font-family: "Space Grotesk";
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  width: 100%;
  text-decoration: none;
  display: block;
  color: black;
}
section#home-explora .container-explora .header-explora .btn-explora:hover {
  border: 0;
  background-color: black;
}
section#home-explora .container-explora .header-explora .btn-explora:hover a {
  color: white;
}
section#home-explora .container-explora .header-explora .btn-explora:hover svg {
  fill: white;
}
section#home-explora .container-explora .header-explora .btn-explora:hover svg line {
  stroke: black;
}
@media screen and (max-width: 1310px) {
  section#home-explora .container-explora .texto {
    text-align: center;
  }
}
section#home-explora .container-explora .texto > p {
  font-size: 50px;
  font-weight: lighter;
  font-family: "Space Grotesk";
  line-height: 84px;
  margin: 0;
  color: black;
}
@media screen and (max-width: 610px) {
  section#home-explora .container-explora .texto > p {
    font-size: 20px;
    line-height: 30px;
  }
}
section#home-explora .container-explora .texto > p a {
  font-weight: 500;
  color: black;
}
section#home-proyect {
  padding-top: 101.69px;
  padding-bottom: 50.69px;
}
@media screen and (max-width: 660px) {
  section#home-proyect {
    padding-top: 70.69px;
  }
}
section#home-proyect .container-proyect {
  max-width: 1328px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
section#home-proyect .container-proyect .title-proyect {
  line-height: 123.6px;
  font-family: "Space Grotesk";
  font-size: 103px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 990px) {
  section#home-proyect .container-proyect .title-proyect {
    font-size: 85px;
  }
}
@media screen and (max-width: 780px) {
  section#home-proyect .container-proyect .title-proyect {
    text-align: start;
    font-size: 70px;
  }
}
@media screen and (max-width: 660px) {
  section#home-proyect .container-proyect .title-proyect {
    font-size: 40px;
    line-height: 60px;
  }
}
@media screen and (max-width: 500px) {
  section#home-proyect .container-proyect .title-proyect {
    font-size: 35px;
    line-height: 50px;
  }
}
section#home-proyect .container-proyect .title-proyect a {
  text-decoration: none;
  color: black;
}
section#home-proyect .container-proyect .element-wrap {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 33px;
}
@media screen and (max-width: 600px) {
  section#home-proyect .container-proyect .element-wrap {
    margin-top: 0px;
  }
}
section#home-proyect .container-proyect .element-wrap .item {
  text-align: center;
  width: 23%;
}
@media screen and (max-width: 820px) {
  section#home-proyect .container-proyect .element-wrap .item {
    width: 45%;
  }
}
section#home-proyect .container-proyect > .enlace-ver_todos {
  margin-top: 40px;
  display: block;
  font-size: 29px;
  text-align: center;
  color: #020202;
  font-weight: normal;
  font-family: "Space Grotesk";
  line-height: 34px;
  text-decoration: none;
}
section#home-texto {
  padding-top: 164px;
  padding-bottom: 153px;
}
section#home-texto .container-slider-home {
  max-width: 1358px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
section#home-texto .container-slider-home .texto > p {
  margin: 0;
  line-height: 80px;
  font-size: 54px;
  color: black;
  font-family: "Space Grotesk";
}
@media screen and (max-width: 1310px) {
  section#home-texto .container-slider-home .texto > p {
    text-align: center;
  }
}
@media screen and (max-width: 700px) {
  section#home-texto .container-slider-home .texto > p {
    font-size: 30px;
    line-height: 50px;
  }
}
@media screen and (max-width: 400px) {
  section#home-texto .container-slider-home .texto > p {
    font-size: 20px;
    line-height: 30px;
  }
}
section#home-texto .container-slider-home .texto > p:last-child {
  margin-top: 20px;
}
@media screen and (max-width: 400px) {
  section#home-texto .container-slider-home .texto > p:last-child {
    margin-top: 0;
  }
}
section#home-texto .container-slider-home .texto > p > a {
  position: relative;
  text-decoration: none;
  color: black;
}
section#home-texto .container-slider-home .texto > p > a::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid black;
}
footer#footer {
  padding-bottom: 105px;
  padding-top: 105px;
}
footer#footer > .container {
  max-width: 1358px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
footer#footer > .container .footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1069px) {
  footer#footer > .container .footer-flex {
    display: none;
  }
}
footer#footer > .container .footer-flex .column-big {
  width: 70%;
}
footer#footer > .container .footer-flex .column-big .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 171px;
  gap: 148px;
}
footer#footer > .container .footer-flex .column-big .flex .item {
  height: 171px;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer#footer > .container .footer-flex .column-big .flex .item .texto p {
  max-width: 180px;
  line-height: 41.78px;
  font-weight: normal;
  font-family: "Space Grotesk";
  text-align: left;
  font-size: 35px;
  letter-spacing: 0px;
  color: #020202;
  margin: 0;
}
footer#footer > .container .footer-flex .column-big .flex .item .texto span {
  line-height: 41.78px;
  font-weight: bold;
  font-family: "Space Grotesk";
  text-align: left;
  font-size: 35px;
  letter-spacing: 0px;
  color: #020202;
}
footer#footer > .container .footer-flex .column-big .flex .item .informacion p {
  color: #000000;
  line-height: 40px;
  font-family: "Space Grotesk";
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  footer#footer > .container .footer-flex .column-big .flex .item .informacion p {
    font-size: 25px;
    line-height: 30px;
  }
}
footer#footer > .container .footer-flex .column-big .flex .item .informacion p a {
  color: #000000;
}
footer#footer > .container .footer-flex .column-big .derechos-reservados {
  margin-top: 40px;
}
footer#footer > .container .footer-flex .column-big .derechos-reservados p {
  margin: 0;
  line-height: 24.73px;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-weight: normal;
  color: #000000;
}
footer#footer > .container .footer-flex .column-big .derechos-reservados ol {
  margin-top: 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer#footer > .container .footer-flex .column-big .derechos-reservados ol li:nth-child(1) {
  padding-right: 21px;
}
footer#footer > .container .footer-flex .column-big .derechos-reservados ol li:nth-child(2) {
  padding-left: 21px;
  padding-right: 21px;
}
footer#footer > .container .footer-flex .column-big .derechos-reservados ol li:nth-child(3) {
  padding-left: 21px;
  padding-right: 21px;
}
footer#footer > .container .footer-flex .column-big .derechos-reservados ol li:nth-child(4) {
  padding-right: 21px;
  padding-left: 21px;
}
footer#footer > .container .footer-flex .column-big .derechos-reservados ol li {
  border-right: 2px solid black;
}
footer#footer > .container .footer-flex .column-big .derechos-reservados ol li a {
  line-height: 24.73px;
  font-family: "Space Grotesk";
  font-size: 20px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
footer#footer > .container .footer-flex .column-big .derechos-reservados ol li:last-child {
  border: none;
}
footer#footer > .container .footer-flex .column-litle {
  text-align: end;
  width: 20%;
}
footer#footer > .container .footer-flex .column-litle ul li {
  text-align: right;
  font-size: 24px;
  font-weight: normal;
  font-family: "Space Grotesk";
  letter-spacing: 0px;
  line-height: 51px;
}
footer#footer > .container .footer-flex .column-litle ul li a {
  color: #000000;
  text-decoration: none;
}
footer#footer > .container .movil-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
  text-align: center;
}
@media screen and (min-width: 1070px) {
  footer#footer > .container .movil-flex {
    display: none;
  }
}
footer#footer > .container .movil-flex .element {
  max-width: 600px;
  margin: auto;
  height: 525px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media screen and (max-width: 560px) {
  footer#footer > .container .movil-flex .element {
    height: 430px;
  }
}
footer#footer > .container .movil-flex .element .menu-movil {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer#footer > .container .movil-flex .element .menu-movil li {
  text-align: center;
  font-size: 55px;
  font-weight: normal;
  font-family: "Space Grotesk";
  letter-spacing: 0px;
  line-height: 75px;
}
@media screen and (max-width: 560px) {
  footer#footer > .container .movil-flex .element .menu-movil li {
    font-size: 40px;
    line-height: 60px;
  }
}
footer#footer > .container .movil-flex .element .menu-movil li a {
  color: #000000;
  text-decoration: none;
}
footer#footer > .container .movil-flex .e-textos .parrafo > p {
  line-height: 44.4px;
  font-family: "Space Grotesk";
  font-size: 34px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 15px;
}
@media screen and (max-width: 560px) {
  footer#footer > .container .movil-flex .e-textos .parrafo > p {
    font-size: 25px;
    line-height: 30px;
  }
}
footer#footer > .container .movil-flex .e-textos .movil-avisos {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer#footer > .container .movil-flex .e-textos .movil-avisos li:nth-child(1) {
  padding-right: 15px;
}
@media screen and (max-width: 560px) {
  footer#footer > .container .movil-flex .e-textos .movil-avisos li:nth-child(1) {
    padding-right: 8px;
  }
}
footer#footer > .container .movil-flex .e-textos .movil-avisos li:nth-child(2) {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 560px) {
  footer#footer > .container .movil-flex .e-textos .movil-avisos li:nth-child(2) {
    padding-right: 8px;
    padding-left: 8px;
  }
}
footer#footer > .container .movil-flex .e-textos .movil-avisos li:nth-child(3) {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 560px) {
  footer#footer > .container .movil-flex .e-textos .movil-avisos li:nth-child(3) {
    padding-right: 8px;
    padding-left: 8px;
  }
}
footer#footer > .container .movil-flex .e-textos .movil-avisos li:nth-child(4) {
  padding-left: 15px;
}
@media screen and (max-width: 560px) {
  footer#footer > .container .movil-flex .e-textos .movil-avisos li:nth-child(4) {
    padding-left: 8px;
  }
}
footer#footer > .container .movil-flex .e-textos .movil-avisos li {
  border-right: 2px solid black;
}
footer#footer > .container .movil-flex .e-textos .movil-avisos li a {
  line-height: 44.4px;
  font-family: "Space Grotesk";
  font-size: 34px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}
@media screen and (max-width: 560px) {
  footer#footer > .container .movil-flex .e-textos .movil-avisos li a {
    font-size: 18px;
    line-height: 30px;
  }
}
footer#footer > .container .movil-flex .e-textos .movil-avisos li:last-child {
  border: none;
}
section#AND_shop .container {
  max-width: 1360.08px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
section#AND_shop .container .content-col {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 19.92px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 19.92px;
}
section#AND_shop .container .content-col .col.first .titulo {
  margin: 0;
  margin-bottom: 29px;
  text-align: left;
  font: normal normal medium 95px/133px Space Grotesk;
  letter-spacing: 0px;
  color: #000000;
}
section#AND_shop .container .content-col .col.second img {
  width: 100%;
}
section#AND_shop .container .content-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15.83px;
}
section#AND_shop .container .content-btns .btn {
  cursor: pointer;
  border-radius: 10px;
  opacity: 1;
  font: normal normal normal;
}
section#AND_shop .container .content-btns .btn.black {
  background: #000000 0% 0% no-repeat padding-box;
  color: white;
}
section#AND_shop .container .content-btns .btn.green {
  color: #000000;
  background-color: #bcff3b !important;
}
section#AND_shop .container .content-products {
  padding-top: 110px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 19.92px 1fr 19.92px 1fr 19.92px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 19.92px;
  width: 100%;
}
@media screen and (max-width: 1200px) {
  section#AND_shop .container .content-products {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 950px) {
  section#AND_shop .container .content-products {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
section#AND_shop .container .content-products .card {
  min-height: 391px;
}
@media screen and (max-width: 500px) {
  section#AND_shop .container .content-products .card {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
section#AND_shop .container .content-products .card .header {
  width: 100%;
  height: 302px;
  background-color: #b3b2b288;
  border-radius: 20px;
  position: relative;
}
@media screen and (max-width: 500px) {
  section#AND_shop .container .content-products .card .header {
    height: 200px;
  }
}
section#AND_shop .container .content-products .card .header .img-product {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
section#AND_shop .container .content-products .card .header .img-flotante {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
section#AND_shop .container .content-products .card .body {
  padding-top: 16px;
  padding-bottom: 16px;
}
section#AND_shop .container .content-products .card .body .price {
  margin: 0;
  text-align: right;
  font: normal normal bold 25px/35px Space Grotesk;
  letter-spacing: 0px;
  color: #000000;
}
section#AND_shop .container .content-products .card .body .name {
  margin: 0;
  text-align: left;
  letter-spacing: 0px;
  font-weight: medium;
  font-family: "Space Grotesk";
  font-size: 22px;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  section#AND_shop .container .content-products .card.big {
    grid-column: auto / span 2;
    grid-row: auto / span 2;
  }
  section#AND_shop .container .content-products .card.big .header {
    height: 715.92px;
  }
  section#AND_shop .container .content-products .card.big .header .img-flotante {
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
