section#AND_shop {
  padding-top: 105px;
  padding-bottom: 67px;
  @w_card: 315.08px;
  @gap_card: 19.92px;
  @container: (@w_card * 4) + (@gap_card * 3) + (@p_container * 2);

  .container {
    // background: red;
    max-width: @container;
    margin: auto;
    padding-left: @p_container;
    padding-right: @p_container;
    .content-col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: @gap_card;
      @media screen and (max-width: 780px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .col {
        //   background-color: blue;
        &.first {
          padding-right: 50px;
          @media screen and (max-width: 780px) {
            max-width: 500px;
            padding-right: 0;
          }
          .titulo-shop {
            line-height: 72px;
            margin-top: 0;
            margin-bottom: 29px;
            text-align: left;
            font-family: "Space Grotesk";
            font-weight: 500;
            font-size: 95px;
            letter-spacing: 0px;
            @media screen and (max-width: 800px) {
              font-size: 90px;
            }
            @media screen and (max-width: 752px) {
              font-size: 70px;
            }

            @media screen and (max-width: 610px) {
              font-size: 50px;
              margin-bottom: 0;
            }
            a {
              text-decoration: none;
              color: #000000;
            }
          }

          .subtitulo {
            font-family: "Space Grotesk";
            font-weight: 300;
            font-size: 45px;
            margin: 0;
            line-height: 55px;
            letter-spacing: 0px;
            color: #000000;
            @media screen and (max-width: 752px) {
              font-size: 35px;
              line-height: 40px;
            }

            @media screen and (max-width: 500px) {
              font-size: 20px;
              line-height: 30px;
              padding-right: 80px;
            }
          }
        }
        &.second {
          @media screen and (max-width: 780px) {
            display: none;
          }
          img {
            width: 100%;
          }
        }
      }
    }

    // *Tuve que bajar los botones por falta de espacios
    .content-btns {
      display: flex;
      gap: 15.83px;
      @media screen and (max-width: 960px) {
        margin-top: 30px;
        flex-wrap: wrap;
      }

      .btn {
        padding: 10px 30px;
        min-height: 42px;
        background-color: #000000;
        color: white;
        transition: 0.5s all;
        cursor: pointer;
        border-radius: 10px;
        opacity: 1;
        font-family: "Space Grotesk";
        font-size: 25px;
        font-weight: normal;

        &:hover {
          border-color: transparent;
        }

        &.active {
          color: #000000;
          background-color: @verder !important;
        }
      }
    }

    .content-products {
      padding-top: 110px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      // gap: 30px 19.92px;
      gap: @gap_card;

      @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (max-width: 950px) {
        grid-template-columns: repeat(2, 1fr);
      }

      width: 100%;
      .card {
        @h_card: 395.73px;
        @h_body: 89px;
        @h_header: 302px;
        min-height: 391px;

        @media screen and (max-width: 500px) {
          min-height: fit-content;
        }

        .header {
          width: 100%;
          height: @h_header;
          background-color: @gris-img;
          border-radius: 20px;
          position: relative;

          @media screen and (max-width: 500px) {
            @h_header: 200px;
            height: @h_header;
          }

          .img-product {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
          }

          .img-flotante {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateY(50%);
          }

          .texto > .info {
            color: @verder;
            font-size: 21px;
            font-family: "Space Grotesk";
            margin-top: 10px;
            margin-bottom: 0;
          }
        }

        .body {
          //   background: red;
          padding-top: 16px;
          padding-bottom: 16px;

          .price {
            margin: 0;
            text-align: right;
            font: normal normal bold 25px/35px Space Grotesk;
            letter-spacing: 0px;
            color: #000000;
            // background: red;
          }

          .name {
            margin: 0;
            text-align: left;
            padding-right: 30px;
            letter-spacing: 0px;
            line-height: 35px;
            font-weight: medium;
            font-family: "Space Grotesk";
            font-size: 25px;
            color: #000000;
            @media screen and (max-width: 500px) {
              font-size: 18px;
              line-height: 25px;
            }
            // opacity: 1;
          }
        }

        @media screen and (min-width: 1200px) {
          &.big {
            grid-column: auto / span 2;
            grid-row: auto / span 2;

            .header {
              height: (@h_header * 2) + @h_body + @gap_card + 49px;
              .img-flotante {
                // background: red;
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translateY(50%);
              }
            }

            .body {
              .name {
                font-size: 40px;
              }
            }
          }
        }
      }
    }

    .enlace-shop {
      margin-top: 40px;
      display: block;
      font-size: 29px;
      text-align: center;
      color: #020202;
      font-weight: normal;
      font-family: "Space Grotesk";
      line-height: 34px;
    }
  }
}
